{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["plugin:react/recommended", "airbnb", "prettier", "prettier/react", "plugin:prettier/recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": ["react", "jsx-a11y", "import"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/prop-types": 0,
        "react/jsx-props-no-spreading": ["error", { "custom": "ignore" }],
        "arrow-parens": 0,
        "no-console": 0,
        "jsx-a11y/anchor-is-valid": 0
    }
}
