.container-index {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 3rem;

      background: $light-gray;
      border-radius: 0.8rem;
      margin: 1rem;

      .search-box {
        display: flex;
        justify-content: center;
        height: 60%;

        background: $white;
        border-radius: 2rem;

        input {
          padding: 0 1rem;
          background: none;
          &:focus {
            outline: none;
          }
        }
      }
    }

    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      div {
        margin: 1rem;
      }
    }

    h1 {
      font-family: Roboto;
      font-size: 3rem;
    }
  }
}
