.container-index {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .pokemon-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            div {
                margin: 1rem;
            }
        }

        h1 {
            font-family: Roboto;
            font-size: 3rem;
            margin: 2rem 0;
            pointer-events: none;
        }
    }
}
