form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3.5rem;

    background: $light-gray;
    border-radius: 0.8rem;
    margin: 1rem;

    .search-box {
        display: flex;
        justify-content: center;
        height: 70%;
        position: relative;

        background: $white;
        border-radius: 2rem;

        font-family: Poppins;
        color: $black;

        transition: all 0.2s;

        &:focus-within {
            transform: translate(0, -2px);
            box-shadow: 0 5px 20px 0px $shadow;
        }

        input {
            padding: 0 1rem;
            background: none;

            width: 10rem;

            &:focus {
                outline: none;
            }
        }

        img {
            position: absolute;
            right: 15px;
            top: 10px;
        }
    }
}
