.Grass {
  color: #0f960f;
}

.Poison {
  color: #550f96;
}

.Fire {
  color: #c40c0c;
}

.Flying {
  color: #6d9c98;
}

.Water {
  color: #0f3e96;
}

.Bug {
  color: #215e41;
}

.Dark {
  color: #2e241c;
}

.Dragon {
  color: #3f0c91;
}

.Electric {
  color: #d6b419;
}

.Fairy {
  color: #d320d3;
}

.Fighting {
  color: #610b0b;
}

.Ghost {
  color: #1d0955;
}

.Ground {
  color: #99620f;
}

.Ice {
  color: #1cd1c2;
}

.Steel {
  color: #555555;
}

.Normal {
  color: #837676;
}

.Rock {
  color: #684410;
}

.Psychic {
  color: #530246;
}
