$white: #fefefe;
$black: #222222;
$shadow: rgba(0, 0, 0, 0.05);
$light-black: rgba(0, 0, 0, 0.6);
$light-blue: #d3eff4;
$blue: #6b8dd1;
$gray: #9b9b9b;
$light-gray: rgb(244, 247, 248);
$very-light-gray: #f0f2f5d3;
