header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.8rem;

    font-family: Roboto;

    .logo {
        display: flex;
        align-items: center;
        img {
            height: 4rem;
        }

        h1 {
            font-size: 2rem;
        }
    }

    nav {
        display: flex;
        align-items: center;
        padding: 1rem;
        font-size: 1.2rem;

        > span {
            margin-right: 1rem;
        }
    }
}
